# Ignore node dependencies globally
node_modules/

# Ignore test scaffolding zip files
Vault/System/Backend/Scripts/Plugins/draft-vaultos/test/Folder Scaffolding/VaultOS_Structure_Script_Kit.zip
Vault/System/Backend/Scripts/Plugins/draft-vaultos/test/Folder Scaffolding.zip
# Ignore local dependencies in VaultOS test scaffolding
Vault/System/Backend/Scripts/Plugins/draft-vaultos/test/Folder Scaffolding/node_modules/

# Ignore issue template archive
.github/ISSUE_TEMPLATE.zip
